body {
    font-family: 'Gotham', Arial, sans-serif;
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header .logo {
    font-size: 32px;
    margin: 0;
}

.line {
    width: 0;
    height: 4px;
    background-color: white;
    animation: fillLine 2s infinite;
    position: fixed;
    bottom: 0;
    left: 0;
}

@keyframes fillLine {
    0% { width: 0; }
    100% { width: 100%; }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4px);
}

.center {
    text-align: center;
}

p {
    color: #fff;
}

button.get-script-button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.get-script-button:hover {
    background-color: #333;
    color: #fff;
}

button.get-script-button:active {
    background-color: #555;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
