body {
    font-family: 'Gotham', Arial, sans-serif;
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(125px);
    -webkit-backdrop-filter: blur(125px); /* For Safari */
}

header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

header .logo {
    font-size: 32px;
    margin: 0;
    margin-top: -10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    text-align: center;
}

p {
    color: #fff;
}

button.get-script-button {
    background-color: #fff;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: 'Gotham', Arial, sans-serif;
}

button.get-script-button:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px); /* For Safari */
}

button.get-script-button:active {
    background-color: #555;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

footer {
    background-color: transparent;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0;
}

.line {
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #8e44ad, #3a539b);
    background-size: 200% 100%;
    animation: glowing 4s linear infinite;
    z-index: 1;
}

.line:hover {
    animation-duration: 2s;
    background-size: 400% 100%;
}

@keyframes glowing {
    0% {
        background-position: 100% 0%;
        box-shadow: 0 0 5px #8e44ad, 0 0 20px #8e44ad;
    }

    50% {
        background-position: 0% 0%;
        box-shadow: 0 0 20px #8e44ad, 0 0 40px #8e44ad, 0 0 80px #8e44ad;
    }

    100% {
        background-position: -100% 0%;
        box-shadow: 0 0 5px #8e44ad, 0 0 20px #8e44ad;
    }
}

footer p {
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
